body {
    background-color: black;
}

.writepage {
    margin: 0 25%;
    width:50%;
    height:100%;
    word-wrap:break-word;
    color: greenyellow;
    font-family: 'Dancing Script', cursive;
    font-size:30px;
}